<div class="main-container">

  <div class="result">

    <div class="row">
      <% array = ["https://static.pexels.com/photos/105933/pexels-photo-105933.jpeg",
        "https://static.pexels.com/photos/7283/garden.jpg",
        "https://static.pexels.com/photos/225228/pexels-photo-225228.jpeg",
        "https://static.pexels.com/photos/306070/pexels-photo-306070.jpeg",
        "https://static.pexels.com/photos/341858/pexels-photo-341858.jpeg",
        "https://static.pexels.com/photos/160420/photo-booth-wedding-party-girls-160420.jpeg",
        "https://static.pexels.com/photos/225025/pexels-photo-225025.jpeg",
        "https://static.pexels.com/photos/125545/pexels-photo-125545.jpeg",
        "https://static.pexels.com/photos/207116/pexels-photo-207116.jpeg"] %>
      <% i=0 %>

      <% @parties.each do |party| %>
        <div class="col-md-4">
          <div class="card-party" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 50%),url(<%=array[i]%>)">
            <h2 class ="card-party-title"><%=  party.title %></h2>
            <h1 id= "capacity-number"> <%= party.capacity %></h1>
            <h5 class="capacity-spots"> spots remaining</h5>
            <h5 class ="card-party-music">theme: <strong><%= party.music_type %> </strong> </h5>
            <%= link_to '', party_path(party), class: "card-link" %>
          </div>
        </div>
        <% i+=1 %>
      <% end %>

    </div>

  </div>

  <div class="map-container">

    <div id="map"></div>

    <% content_for(:after_js) do %>
      <%= javascript_tag do %>
        document.addEventListener("DOMContentLoaded", () => {
          var handler = Gmaps.build('Google');
          handler.buildMap({ internal: { id: 'map' } }, function() {
          markers = handler.addMarkers(<%= raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          if (markers.length == 0) {
            handler.getMap().setZoom(2);
          } else if (markers.length == 1) {
            handler.getMap().setZoom(14);
          }
          });
        });
      <% end %>
    <% end %>

  </div>

</div>



