<div class="wrapper-parties">

<% array = ["https://kitt.lewagon.com/placeholder/cities/london", "https://kitt.lewagon.com/placeholder/cities/barcelona", "https://kitt.lewagon.com/placeholder/cities/berlin", "https://kitt.lewagon.com/placeholder/cities/paris"] %>

    <% @parties.each do |party| %>
      <div class="card-party" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 50%),url(<%=array.sample%>)">



          <h2 class ="card-party-title"><%=  party.title %></h2>
          <h1 id= "capacity-number"> <%= party.capacity %></h1>
          <h5 class="capacity-spots"> spots remaining</h5>

          <h5 class ="card-party-music">theme: <strong><%= party.music_type %> </strong> </h5>

        <%= link_to '', party_path(party), class:"card-link" %>

      </div>
  <% end %>

</div>


<div id="map" style="width: 100%; height: 600px;"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    document.addEventListener("DOMContentLoaded", () => {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>
