<div class="container">

  <div class="row">

    <div class="col-md-offset-4 col-md-4">

      <h1>Host a party!</h1>

      <%= simple_form_for @party do |f| %>
      <%= f.input :title, placeholder: "Soirée chez Jean-Eudes" %>
      <%= f.input :capacity, placeholder: "40" %>
      <%= f.input :music_type, placeholder: "Chanson paillarde" %>
      <%= f.input :price, placeholder: "10" %>
      <%= f.input :occurs_at %>
      <%= f.input :address, placeholder: "43 rue du Temple" %>
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
      <%= f.submit class: "btn btn-success button-margin" %>
      <% end %>

    </div>


  </div>


</div>
