<div class="dashboard-container">

  <div class="row ">
    <div class="col-sm-5 col-sm-offset-2 col-md-4 col-md-offset-1 booking-side">
     <ul>
      <h2 class=" dashboard-choice">Your bookings</h2>
          <% @bookings.each do |booking| %>
            <li class="card-party">

<h2 class ="card-party-title"><%= link_to booking.party.title, party_path(booking.party)
               %></h2>


            <h2 class ="card-status">Status: <% if booking.status == ("Accepted"||"Declined") %>
             <%= booking.status %>
             <% else %>
             Pending
             <% end %></h2>

            <h1 id= "capacity-number"> 15/08</h1>
            <h5 class ="card-party-music">theme: <strong><%= booking.party.music_type %> </strong> </h5>

              <div class="avatar"></div>

                    <%= link_to booking_path(booking), method: :delete, data: { confirm: "Êtes-vous sûrs de vouloir annuler votre réservation?"} do %>
                <i class="fa fa-times"></i>
                         <% end %>
                <%= link_to "", party_path(booking.party), class: "card-link" %>
            </li>
          <% end %>
        </ul>
    </div>
  <div class=".col-sm-5 col-sm-offset-2 col-md-4 col-md-offset-1 hosting-side">
    <ul>
      <h2 class=" dashboard-choice">Hosted parties</h2>
          <% @user.parties.each do |party| %>

            <li class="card-party">
              <h2 class ="card-party-title"><%= link_to party.title, party_path(party) %></h2>
              <h1 id= "capacity-number"> 22/10</h1>
              <h5 class ="card-party-music">theme: <strong><%= party.music_type %>
              </strong> </h5>
              <div class="avatar"></div>

              <%= link_to party_path(party), method: :delete, data: { confirm: "Êtes vous sûrs de vouloir annuler votre soirée?"} do %>
                <i class="fa fa-times"></i>
              <% end %>
            <%= link_to "", party_path(party), class: "card-link" %>

            </li>
          <% end %>
      </ul>
    </div>
  </div>

</div>

</div>

