<div class="dashboard-container">

<!-- <div class="dashboard-header" role="group">
  <h2 class=" dashboard-choice">Your bookings</h2>
  <h2 class=" dashboard-choice">Hosted parties</h2>
</div> -->

  <div class="row ">
    <div class="col-sm-5 col-sm-offset-2 col-md-4 col-md-offset-1 booking-side">
<!--       <h1>Your bookings</h1>
 -->        <ul>
   <h2 class=" dashboard-choice">Your bookings</h2>
          <% @bookings.each do |booking| %>

              
            <li class="card-party">
            <h2 class ="card-party-title"><%= link_to booking.party.title, party_path(booking.party)
               %></h2>
             <%= link_to "Annuler votre réservation", booking_path(booking), method: :delete, data: {confirm: "Êtes-vous sûrs de vouloir annuler votre réservation?"} %>
            <h1 id= "capacity-number"> 15/08</h1>
            <h5 class ="card-party-music">theme: <strong><%= booking.party.music_type %> </strong> </h5>
              <div class="avatar"></div>
            </li>
          <% end %>
        </ul>
    </div>
    <div class=".col-sm-5 col-sm-offset-2 col-md-4 col-md-offset-1 hosting-side
">

      <ul>
   <h2 class=" dashboard-choice">Hosted parties</h2>
          <% @user.parties.each do |party| %>

 
              
            <li class="card-party">
            <h2 class ="card-party-title"><%= link_to party.title, party_path(party) %>
              <%= link_to "Annuler votre soirée", party_path(party), method: :delete, data: { confirm: "Êtes vous sûrs de vouloir annuler votre soirée?"} %></h2>
            <h1 id= "capacity-number"> 22/10</h1>
            <h5 class ="card-party-music">theme: <strong><%= party.music_type %> </strong> </h5>

            </li>
          <% end %>
      </ul>
    </div>
  </div>
</div>

</div>

